{% extends "base.html" %}
{% block main %}
<div class="row"></div>
<div class="area">
	<form method="post" action="../profile" class="form-horizontal" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="heading"><h3 class="form-heading">Profile: {{user.username}}</h3></div>
		<div class="control-group">
			<label class="control-label" for="Username">Login</label>
			<div class="controls">
				<input id="Username" name="Username" placeholder="Your username" type="text">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="Email">Email</label>
			<div class="controls">
				<input id="Email" name="Email" placeholder="Your email" type="text">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="Nickname">Nickname</label>
			<div class="controls">
				<input id="Nickname" name="Nickname" placeholder="Your nickname" type="text">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="Avatar">Avatar</label>
			<div class="controls">
				<!--input id="Password" name="Password" placeholder="Your password" type="password"-->
				<input type="file" name="Avatar" size="20">
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				{% if error %}
				<b>ERROR: {{error}}</b>
				{% endif %}
				<!--label class="checkbox"><input type="checkbox">Keep me signed in </label-->
				<button class="btn btn-success" type="submit">Confirm changes</button> 
			
			</div>
			
		</div>
	</form>
</div>

{% endblock %}


